.animal-spotlight {
    max-width: 900px;
    height: 90%;
    display: flex;
    border: 1px dashed gray;
    padding: 10px;
    border-radius: 8px;
  }
  
  .animal-spotlight img {
    height: 70%;
    max-width: 700px;
    margin-right: 20px;
  }
  
  .animal-spotlight p {
    color: black;
  }